.login {
  width: 100%;

  #loginForm {
    margin: auto;
    width: max(60%, 16rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    input {
      margin: 5px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 60%;
    }
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #61dafb;
    color: white;
    cursor: pointer;
    max-width: 20rem;
  }

  button:hover {
    background-color: #21a1f1;
  }
}
