.App {
  text-align: center;
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  h1 {
    font-size: 3rem;
  }
}

.edit-section {
  h2 {
    color: #4a4d55;
    font-size: 1.5em;
    text-decoration: underline;
  }
}
